.inquiry-container
  %h1.inquiry-title お問い合わせ

  .inquiry-content
    %section.inquiry-section
      %p お問い合わせ、不具合の報告などございましたら、以下のXアカウント(@katapyooon)までご連絡ください。ご感想もお待ちしております。

    .x-link
      = link_to "https://x.com/katapyooon", target: "_blank", rel: "noopener noreferrer" do
        = image_tag "logo-black.png", alt: "X (Twitter) Logo", class: "x-logo"