%h1 Welcome to Reptionary!
%div.icon-container
  %div.dli-home
  %div#star-five
  %div.dli-user-circle
    %span
%p This is the top page of your application.

%img{ src: image_path("top_illustration.jpeg"), alt: "Top Illustration", class: "top-image" }