- @reptiles.each do |reptile|
  %div
    %h2= reptile.name
    %p= reptile.description

%div.my-reptiles-top
  %h1 My Reptiles

  - @reptiles.each do |reptile|
    %div
      %h2= reptile.name
      %p= reptile.description