.my-reptiles-top
  %h1 My Reptiles
  .my-reptiles-container
    .reptiles-grid
      .reptile-item
        = link_to create_my_reptile_path, class: "add-button" do
          %i.fas.fa-plus
          %span 爬虫類を追加
      
      - @my_reptiles.each do |reptile|
        .reptile-item
          .circle-frame
            - if reptile.image.present?
              = image_tag reptile.image.url(:icon), class: "reptile-image"
            - else
              .default-circle
                %i.fas.fa-dragon
          .reptile-info
            %h2= reptile.name
            = button_to "Delete", 
              my_reptile_path(reptile), 
              method: :delete,
              form: { data: { turbo_confirm: "本当に削除しますか？" } },
              class: "delete-button"